* {
  box-sizing: border-box;
}
body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 16px;
  background-color: #f3e0be;
}

header {
  width: 100%;
  margin: .25em .25em 0 .25em;
}

h1 {
  font-family: 'Alice', serif;
  font-size: 3em;
  color: #2a293e;
  background-color: #9f9c99;
  padding: 2em;
  border: none;
  text-align: center;
}

h2 {
  font-family: 'Alice', serif;
  font-size: 2em;
  color: #2a293e;
  padding: .5em .5em .25em .5em;
  border: none;
  margin: .25em .5em .5em .5em;
}

h3 {
  font-family: 'Alice', serif;
  font-size: 1.5em;
  color: #2a293e;
  padding: .5em;
  border: none;
  margin: .5em;
}

/* could strip the same parts from each h1-h3 and make a commonailty section*/

nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  list-style: none;
  color: #9f9c99;
  background-color: #2a293e;
  width: 100%;
  padding: 2em;
  border: none;
  margin: 0 .25em .5em .25em;
  text-align: center;
}

li a.menu-links {
  color: #9f9c99;
  background-color: #2a293e;
  border: none;
  text-decoration: none;
}

ul.my-list {
  list-style: none;
  color: #797b3a;
  font-size: 1em;
}

aside {
  float: right;
  padding: 1em;
  border: 3px double #797b3a;
  margin: 1em;
  width: 45%;
  text-align: left;
}

div.lesson-box:nth-child(odd) {
  background-color: #ffffff;
}

.headline {
  text-align: center;
  background-color: #9f9c99;
  padding: .5em;
  border: none;
  margin: 1em;
  width: 90%;
}

.subhead {
  text-align: center;
  padding: 0;
  border: none;
  margin: 0;
  width: 90%;
}

.story {
  text-align: center;
  padding: .25em;
  border: none;
  margin: .5em;
  width: 90%;
}

.me {
  width: 33%;
  padding: .5em;
  border: 3px solid #797b3a;
  margin: .5em;
  opacity: 1;
  transition: opacity .25s ease-in-out;
}

.me:hover {
  opacity: .5;
}

/*.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
}*/

.flex-container-2 {
  display: flex;
  flex-flow: column wrap;
  float: right;
}

.grid-container {
  display: grid;
  grid-gap: 1em 1em;
}

.lesson-box-08 {
  border-style: double solid double;
  border-color: #77212E;
  background-color: #9f9c99;
  border-width: 3px;
  text-align: center;
  grid-column: 1;
  grid-row: 1 / 3;
}

.lesson-box-07 {
  border-style: double solid double;
  border-color: #77212E;
  background-color: #9f9c99;
  border-width: 3px;
  text-align: center;
  grid-column: 2;
  grid-row: 1 / 3;
}

.lesson-box-06 {
  border-style: double solid double;
  border-color: #77212E;
  background-color: #9f9c99;
  border-width: 3px;
  text-align: center;
  grid-column: 3;
  grid-row: 1 / 3;
}

.lesson-box-05 {
  border-style: double solid double;
  border-color: #77212E;
  background-color: #9f9c99;
  border-width: 3px;
  text-align: center;
  grid-column: 4;
  grid-row: 1 / 3;
}

.lesson-box-04 {
  border-style: double solid double;
  border-color: #77212E;
  background-color: #9f9c99;
  border-width: 3px;
  text-align: center;
  grid-column: 1;
  grid-row: 4 / 6;
}

.lesson-box-03 {
  border-style: double solid double;
  border-color: #77212E;
  background-color: #9f9c99;
  border-width: 3px;
  text-align: center;
  grid-column: 2;
  grid-row: 4 / 6;
}

.lesson-box-02 {
  border-style: double solid double;
  border-color: #77212E;
  background-color: #9f9c99;
  border-width: 3px;
  text-align: center;
  grid-column: 3;
  grid-row: 4 / 6;
}

.lesson-box-01 {
  border-style: double solid double;
  border-color: #77212E;
  background-color: #9f9c99;
  border-width: 3px;
  text-align: center;
  grid-column: 4;
  grid-row: 4 / 6;
}

p
{  color: #797b3a;
  font-size: 1em;
  padding: .5em;
  border: none;
  margin: .5em;
}

.assignment {
  padding: 0;
  border: solid;
  margin: 0;
  width: 10%;
}

.first {
  text-align: center;
}
/*li {
  color: #797b3a;
}*/

img {
  width: 12rem;
  margin: 1rem;
  padding: .5rem;
}

.dog-1 {
  border: 1px solid black;
  display: block;
  width: 90%;
  padding: .25em;
  margin: .25em;
  background-color: #264E36;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.dog-1:hover {
  background-color: #2a293e;
  width: 18%;
  height: 18%;
  transform: rotate(180deg);
}
.dog-2 {
  border: 1px solid black;
  display: block;
  width: 90%;
  padding: .25em;
  margin: .25em;
  background-color: #264E36;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.doghouse {
  width: 33%;
  padding: .5em;
  border: none;
  margin: .5em;
}

figcaption {
  text-align: center;
}

.chair-box {
  border: 3px solid #264e36;
  display: grid;
  grid-gap: 1em 1em;
  width: 66%;
}

img.projects {
  width: 66%;
  margin: 1rem;
  padding: .5rem;
}

.dining-1 {
  width: auto;
  padding: .5em;
  border: none;
  margin: .5em;
  grid-column: 1;
  grid-row: 1;
}

.dining-2 {
  width: auto;
  padding: .25em;
  border: none;
  margin: .25em;
  grid-column: 2;
  grid-row: 1;
}

.textile {
  width: auto;
  padding: .25em;
  border: none;
  margin: .25em;
  grid-column: 1;
  grid-row: 2;
}

.glass {
  width: auto;
  padding: .25em;
  border: none;
  margin: .25em;
  grid-column: 2;
  grid-row: 2;
}

a:link, a:visited {
  color: #264E36;
  padding: .5em;
  border: none;
  margin: .5em;
  text-align: center;
  text-decoration: none;
}

a:visited {
  color: #264E36;
}

a:hover {
  color: #577284;
}

a:active {
  color: #CE5B78;
}

.fa-arrow-circle-left, .fa-lightbulb, .fa-book-open, .fa-paw {
  font-size: 1.5em;
  padding: .3em;
  border: none;
  margin: 0.3em
}

footer {
  text-align: center;
}

/*Lesson 09 styling for form*/

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  display: block;
  margin: 1rem;
}

form {
  padding: 1rem;
  margin: 1rem;
}

fieldset {
  border: none;
}

fieldset input {
  display: inline;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: crosshair;
  height: 0;
  width: 0;
}

.checkbox label {
  display: block;
  position: relative;
  padding-left: 3em;
  margin-top: .75em;
  cursor: crosshair;
/* THIS SECTION CAME UP AS AN ERROR IN THE VALIDATOR, BUT WAS USED IN THE LESSON 09 CONTENT AND ON W3SCHOOL'S SITE
  -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;*/
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5em;
  width: 1.5em;
  background-color: #2a293e;
}

.checkbox label:hover input ~ .checkmark {
  background-color: #9f9c99;
}

.checkbox input:checked ~ .checkmark {
  background-color: #797b3a;
}

.checkmark:after {
  content:"";
  position: absolute;
  display: none;
}

.checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: .5em;
  top: .5em;
  width: .5em;
  height: .5em;
  border: solid white;
  border-width: .5px;
  background-color: #ffffff;
}

input[type=submit] {
  width: auto;
  color: #2a293e;
  background-color: #9f9c99;
}
